<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Instaboard</title>
</head>
<body>
    <header>
        <img src="/assets/camera_icon_white.svg" alt="" ><h1>Instaboard</h1>
    </header>
    <main id="main">
        <show-image v-if="igmSelected" :img-id="igmSelected" @close="closeImage"></show-image>
        <div class="container-form">
            <form>
            <input v-model="title" type="text" name="title" placeholder="Title">
            <input v-model="username" type="text" name="username" placeholder="Username">
            <input v-model="description" type="text" name="description" placeholder="Description">
            <input @change="fileSelectHandler" type="file" name="file" id="file" accept="image/*" class="inputfile">
            <label for="file"><img src="/assets/search.svg" alt="" class="svg">Choose File</label>
            <button @click.prevent="clickHandler" ><img src="/assets/upload_icon.svg" alt="" class="svg">Upload</button>
        </form>
        </div>
        <h2>Latest Images</h2>
        <section class="image-grid">
            <div class="image-item" v-for="image in images">
                <img :src="image.url" :alt="image.title" :key="image.id" @click="displayImg(image.id)" class="homepageimg">
                <p>{{image.title}}</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; thwalln, 2021</p>
    </footer>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>