* {
    box-sizing: border-box;
    margin: 0;
}

.image-grid,
h2,
form {
    margin: 0 8px;
}

header {
    border-bottom: 2px solid black;
    background: tomato;
    color: white;
}

form {
    background: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 8px;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.image-grid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

#main p {
    margin: 0;
}

#main img {
    height: 95%;
    max-width: 100%;
    object-fit: cover;
    padding-bottom: 8px;
}

.image-item {
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    padding: 8px;
}

footer {
    background: tomato;
    color: white;
}

/* button {
}

.inputfile {
} */
